@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #fff;
    width: 98%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    border: 1px solid #555;
}

.box .list {
    border: 1px solid #bbb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    min-height: 250px;
}

.box .list .item {
    padding: 0.5em;
    border: 1px solid #bbb;
    border-radius: 0.5em;
    font-size: 15px;
    height: max-height;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
}

.box .list .item img {
    border-radius: 50%;
}

.box .list .item.drag-active {
    border: 1px solid #e1c17b;
    background: #fff;
}

.box .list.hovered {
    border: 1px dashed #888;
    background: #fbfbfb;
}